body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgoldenrodyellow;
    font-family: 'Comic Sans MS';
    overflow: scroll;
}

.form-div {

}

.form-group {
    margin-left: 10vh !important;
}

.form-control {
    border-radius: 5px !important;
}

label {
    width: 100%;
    text-align: left;
    margin-left: 15px
}

.btn-default {
    background: #442F0A !important;
    box-shadow: inset 0 -2px yellow !important;
    color: yellow !important
}

    .btn-default:active {
        color: #442F0A !important;
        background: yellow !important;
        box-shadow: inset 0 -2px #442F0A !important;
    }

    .btn-default:hover {
        color: #442F0A !important;
        background: yellow !important;
        box-shadow: inset 0 -2px #442F0A !important;
    }
    ::-webkit-scrollbar {
        display: none;
    }